<div class="container" *ngIf="state$ | async as state">
    <div class="app-content-header">
        <div class="left">
            <app-page-title title="Costs Overview"></app-page-title>
        </div>
        <div class="right">
            <div class="ranges-container">
                <app-datetime-range-comparison-input-container></app-datetime-range-comparison-input-container>
            </div>
        </div>
    </div>

    <div class="content-body">
        <div
            class="prompt-container"
            *ngIf="(hasCustomerParams$ | async) !== true"
        >
            <dx-button
                stylingMode="contained"
                text="Fill out Customer Params"
                type="success"
                [width]="300"
                (onClick)="popupVisible = true"
            >
            </dx-button>
        </div>
        <app-view-control-bar></app-view-control-bar>
        <dx-load-indicator
            *ngIf="state.loading"
            height="40"
            width="40"
        ></dx-load-indicator>
        <ng-container *ngIf="state.items1">
            <app-costs-overview-table></app-costs-overview-table>
        </ng-container>
    </div>

    <div class="content-footer"></div>
    <app-customer-params-popup-form
        [visible]="popupVisible"
        (visibleChanged)="handlePopupVisibleChanged($event)"
        (submitted)="handleFormSubmitted()"
    ></app-customer-params-popup-form>
</div>
