:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

.range-actions {
    display: flex;
    align-items: center;
}

dx-button {
    background-color: transparent;
}
