<div class="content-container">
    <ng-container [ngSwitch]="step">
        <ng-container *ngSwitchCase="'select-target'">
            <ng-container *ngTemplateOutlet="targetStepTemplate"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'select-range'">
            <ng-container *ngTemplateOutlet="valueStepTemplate"></ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>empty</ng-container>
    </ng-container>
</div>

<ng-template #targetStepTemplate>
    <div class="buttons-column">
        <div class="column-header">Pick Range</div>

        <div><dx-button (onClick)="selectTarget('year')">Year</dx-button></div>
        <div>
            <dx-button (onClick)="selectTarget('month')">Month</dx-button>
        </div>
        <div><dx-button (onClick)="selectTarget('day')">Day</dx-button></div>
        <div>
            <dx-button (onClick)="selectTarget('hour')" disabled
                >Hour</dx-button
            >
        </div>
    </div>
</ng-template>

<ng-template #valueStepTemplate>
    <dx-calendar
        [zoomLevel]="zoomLevel"
        (onValueChanged)="handleCalendarValueChanged($event)"
        (onOptionChanged)="handleCalendarOptionChanged($event)"
        [firstDayOfWeek]="1"
        [min]="$any(picker?.getMinDate())"
        [max]="$any(picker?.getMaxDate())"
    >
    </dx-calendar>
</ng-template>
