@import '../../../../../styles/variables';

:host {
    display: block;
    padding: 15px;

    background-color: map-get($theme, primary);
    border-radius: 4px;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
        0 1px 10px 0 rgb(0 0 0 / 12%);
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
}

.target-step {
    width: 100%;

    .header {
        padding: 10px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    dx-button {
        width: 150px;
        height: 30px;
    }
}
