<div class="content-container">
    <ng-container [ngSwitch]="step">
        <ng-container *ngSwitchCase="'select-target'">
            <ng-container *ngTemplateOutlet="targetStepTemplate"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'select-range'">
            <ng-container *ngTemplateOutlet="valueStepTemplate"></ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>empty</ng-container>
    </ng-container>
</div>

<ng-template #targetStepTemplate>
    <ul class="target-options">
        <li>
            <button (click)="selectTarget('year')">Year</button>
        </li>
        <li>
            <button (click)="selectTarget('month')">Month</button>
        </li>
        <li>
            <button (click)="selectTarget('day')">Day</button>
        </li>
        <li>
            <button (click)="selectTarget('hour')" disabled>Hour</button>
        </li>
    </ul>
</ng-template>

<ng-template #valueStepTemplate>
    <dx-calendar
        [zoomLevel]="zoomLevel"
        (onValueChanged)="handleCalendarValueChanged($event)"
        (onOptionChanged)="handleCalendarOptionChanged($event)"
        [firstDayOfWeek]="1"
        [min]="$any(min)"
        [max]="$any(max)"
    >
    </dx-calendar>
</ng-template>
