@import 'variables';

.cell-comparison {
    background-color: gray;
}

.data-table-row {
    cursor: pointer;

    &:hover {
        background-color: map-get($theme, base1);
    }

    &.for-comparison {
        background-color: gray;
    }
}
