<form class="login-form" [formGroup]="form">
    <div class="dx-fieldset">
        <div class="dx-fieldset-header">Tenant</div>
        <div class="dx-field">
            <div class="dx-field-label">Data Source Type</div>
            <div class="dx-field-value">
                <dx-radio-group
                    formControlName="dataSourceType"
                    [items]="$any(dataSourceTypes)"
                    layout="horizontal"
                >
                </dx-radio-group>
            </div>
        </div>

        <ng-container [ngSwitch]="dataSourceTypeControl?.valueChanges | async">
            <div *ngSwitchCase="'Database'" formGroupName="dbConnectionParams">
                <div class="dx-field">
                    <div class="dx-field-label">Server</div>
                    <div class="dx-field-value">
                        <dx-text-box
                            formControlName="server"
                            [isValid]="dbConnectionServerControl?.valid === true || dbConnectionServerControl?.pristine === true"
                            [validationError]="{ message: 'is invalid'}"
                            valueChangeEvent="keyup"
                        >
                        </dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">DB Name</div>
                    <div class="dx-field-value">
                        <dx-text-box
                            formControlName="dbName"
                            [isValid]="dbConnectionDBNameControl?.valid === true || dbConnectionDBNameControl?.pristine === true"
                            [validationError]="{ message: 'is invalid'}"
                            valueChangeEvent="keyup"
                        >
                        </dx-text-box>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'CEA File'">
                <div class="dx-field">
                    <div class="dx-field-label">CEA File</div>
                    <div
                        class="dx-field-value"
                        *ngIf="ceaFiles$ | async as items"
                    >
                        <dx-select-box
                            formControlName="ceaFilename"
                            [items]="items"
                            [isValid]="ceaFilenameControl?.valid === true || ceaFilenameControl?.pristine === true"
                            [validationError]="{ message: 'is invalid'}"
                        ></dx-select-box>
                    </div>
                </div>
                <div class="actions">
                    <dx-button
                        text="Upload new CEA file"
                        type="normal"
                        (onClick)="uploadNewFile()"
                    >
                    </dx-button>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="dx-fieldset">
        <div class="dx-fieldset-header">User</div>
        <div class="dx-field">
            <div class="dx-field-label">Username</div>
            <div class="dx-field-value">
                <dx-text-box
                    formControlName="username"
                    [isValid]="usernameControl?.valid === true || usernameControl?.pristine === true"
                    [validationError]="{ message: 'is invalid'}"
                    valueChangeEvent="keyup"
                >
                </dx-text-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Password</div>
            <div class="dx-field-value">
                <dx-text-box
                    formControlName="password"
                    [isValid]="passwordControl?.valid === true || passwordControl?.pristine === true"
                    [validationError]="{ message: 'is invalid'}"
                    valueChangeEvent="keyup"
                >
                </dx-text-box>
            </div>
        </div>

        <div class="actions">
            <dx-button
                text="Open"
                type="success"
                (onClick)="open()"
                [disabled]="!form.valid"
            >
            </dx-button>
        </div>

        <!-- <dxi-item
            dataField="rememberMe"
            editorType="dxCheckBox"
            [editorOptions]="{ text: 'Remember me', elementAttr: { class: 'form-text' } }"
        >
            <dxo-label [visible]="false"></dxo-label>
        </dxi-item>

        <dxi-item itemType="button">
            <dxo-button-options
                width="100%"
                type="default"
                [useSubmitBehavior]="true"
                [template]="'signInTemplate'"
            >
            </dxo-button-options>
        </dxi-item> -->

        <!-- <dxi-item>
            <div class="link">
                <a routerLink="/reset-password">Forgot password?</a>
            </div>
        </dxi-item> -->

        <!-- <dxi-item itemType="button">
            <dxo-button-options
                text="Create an account"
                width="100%"
            ></dxo-button-options>
        </dxi-item> -->

        <!-- <ng-container *dxTemplate="let item of 'signInTemplate'">
            <span class="dx-button-text">
                <ng-container *ngIf="loading; else notLoading">
                    <dx-load-indicator
                        width="24px"
                        height="24px"
                        [visible]="true"
                    ></dx-load-indicator>
                </ng-container>
                <ng-template #notLoading>Sign In</ng-template>
            </span>
        </ng-container> -->
    </div>
</form>
