<form class="login-form" [formGroup]="form">
    <div class="dx-fieldset">
        <div class="dx-fieldset-header">Tenant</div>
        <div class="dx-field">
            <div class="dx-field-label">Data Source Type</div>
            <div class="dx-field-value">
                <dx-radio-group
                    formControlName="dataSourceType"
                    [items]="$any(dataSourceTypes)"
                    layout="horizontal"
                >
                </dx-radio-group>
            </div>
        </div>

        <ng-container [ngSwitch]="dataSourceTypeControl?.valueChanges | async">
            <div *ngSwitchCase="'Database'" formGroupName="dbConnectionParams">
                <div class="dx-field">
                    <div class="dx-field-label">Server</div>
                    <div class="dx-field-value">
                        <dx-text-box
                            formControlName="server"
                            [isValid]="dbConnectionServerControl?.valid === true || dbConnectionServerControl?.pristine === true"
                            [validationError]="{ message: 'is invalid'}"
                            valueChangeEvent="keyup"
                        >
                        </dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">DB Name</div>
                    <div class="dx-field-value">
                        <dx-text-box
                            formControlName="dbName"
                            [isValid]="dbConnectionDBNameControl?.valid === true || dbConnectionDBNameControl?.pristine === true"
                            [validationError]="{ message: 'is invalid'}"
                            valueChangeEvent="keyup"
                        >
                        </dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Username</div>
                    <div class="dx-field-value">
                        <dx-text-box
                            formControlName="username"
                            [isValid]="dbConnectionUsernameControl?.valid === true || dbConnectionUsernameControl?.pristine === true"
                            [validationError]="{ message: 'is invalid'}"
                            valueChangeEvent="keyup"
                        >
                        </dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Password</div>
                    <div class="dx-field-value">
                        <dx-text-box
                            formControlName="password"
                            [isValid]="dbConnectionPasswordControl?.valid === true || dbConnectionPasswordControl?.pristine === true"
                            [validationError]="{ message: 'is invalid'}"
                            valueChangeEvent="keyup"
                        >
                        </dx-text-box>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'CEA File'">
                <div class="dx-field">
                    <div class="dx-field-label">CEA File</div>
                    <div
                        class="dx-field-value"
                        *ngIf="ceaFiles$ | async as items"
                    >
                        <dx-select-box
                            formControlName="ceaFilename"
                            [items]="items"
                            [isValid]="ceaFilenameControl?.valid === true || ceaFilenameControl?.pristine === true"
                            [validationError]="{ message: 'is invalid'}"
                        ></dx-select-box>
                    </div>
                </div>
                <div class="actions">
                    <dx-button
                        text="Upload new CEA file"
                        type="normal"
                        (onClick)="uploadNewFile()"
                    >
                    </dx-button>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="dx-fieldset">
        <div class="dx-fieldset-header">User</div>
        <div class="dx-field">
            <div class="dx-field-label">Username</div>
            <div class="dx-field-value">
                <dx-text-box
                    formControlName="username"
                    [isValid]="usernameControl?.valid === true || usernameControl?.pristine === true"
                    [validationError]="{ message: 'is invalid'}"
                    valueChangeEvent="keyup"
                >
                </dx-text-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Password</div>
            <div class="dx-field-value">
                <dx-text-box
                    formControlName="password"
                    [isValid]="passwordControl?.valid === true || passwordControl?.pristine === true"
                    [validationError]="{ message: 'is invalid'}"
                    valueChangeEvent="keyup"
                >
                </dx-text-box>
            </div>
        </div>

        <div class="actions">
            <dx-button
                type="success"
                (onClick)="open()"
                [width]="180"
                [disabled]="!form.valid || (loading$ | async)"
            >
                <div *dxTemplate="let data of 'content'">
                    <dx-load-indicator
                        class="button-indicator"
                        [visible]="(loading$ | async) === true"
                    >
                    </dx-load-indicator>
                    <span class="dx-button-text"
                        >{{(loading$ | async) ? '' : 'Open'}}</span
                    >
                </div>
            </dx-button>
        </div>
    </div>
</form>
