<div class="content-container">
    <ng-container [ngSwitch]="step">
        <ng-container *ngSwitchCase="'select-target'">
            <ng-container *ngTemplateOutlet="targetStepTemplate"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'select-range'">
            <ng-container *ngTemplateOutlet="rangeStepTemplate"></ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>empty</ng-container>
    </ng-container>
</div>

<ng-template #targetStepTemplate>
    <div class="target-step">
        <div class="header">Time Range</div>
        <div class="content">
            <dx-button (onClick)="selectTarget('year')">Year</dx-button>

            <dx-button (onClick)="selectTarget('month')">Month</dx-button>

            <dx-button (onClick)="selectTarget('day')">Day</dx-button>

            <!-- <dx-button (onClick)="selectTarget('hour')" [disabled]="true"
                >Hour</dx-button
            > -->
        </div>
    </div>
</ng-template>

<ng-template #rangeStepTemplate>
    <div class="range-step">
        <dx-calendar
            [zoomLevel]="zoomLevel"
            (onValueChanged)="handleCalendarValueChanged($event)"
            (onOptionChanged)="handleCalendarOptionChanged($event)"
            [firstDayOfWeek]="1"
            [min]="$any(picker?.getMinDate())"
            [max]="$any(picker?.getMaxDate())"
        >
        </dx-calendar>
    </div>
</ng-template>
