<nav class="main-nav">
    <a
        class="nav-item"
        *ngFor="let item of items"
        routerLink="/{{item.link}}"
        routerLinkActive="active"
    >
        <i class="{{item.icon}}"></i>
        <span>{{item.label}}</span>
    </a>

    <dx-button
        class="user-button"
        icon="user"
        [text]="$any(userBtnText$ | async)"
        (onClick)="isUserMenuOpen = !isUserMenuOpen"
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
    >
    </dx-button>
</nav>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isUserMenuOpen"
    (overlayOutsideClick)="handleUserMenuOutsideClick()"
>
    <ul class="user-menu">
        <li>
            <button class="pill-btn" (click)="handleLogoutClick()">
                Logout
            </button>
        </li>
    </ul>
</ng-template>

<app-customer-params-popup-form></app-customer-params-popup-form>
