:host {
    height: 100%;

    // display: grid;
    // grid-template-rows: auto 1fr auto;
}

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;

    .left {
        flex-basis: 60%;
    }
}
