@import '../../../../../styles/variables';

:host {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-group {
    margin-left: auto;
}

.phases-picker {
    display: block;
    padding: 15px;
    width: 150px;

    background-color: map-get($theme, primary);
    border-radius: 4px;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
        0 1px 10px 0 rgb(0 0 0 / 12%);

    & > .items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 5px;
        }
    }
}
