<div class="container">
    <div class="ranges">
        <div class="input" *ngFor="let range of ranges; let last = last">
            <dx-button
                icon="close"
                *ngIf="last && ranges.length > 1"
                (onClick)="removeRange()"
            ></dx-button>
            <app-datetime-range-input
                [min]="range.min"
                [max]="range.max"
                [rangePicker]="rangePicker"
            ></app-datetime-range-input>
            <app-datetime-range-picker #rangePicker></app-datetime-range-picker>
        </div>
    </div>
    <div class="actions">
        <dx-button icon="plus" (onClick)="addRange()"></dx-button>
    </div>
</div>
