<div class="ranges">
    <div class="range-item">
        <div class="action-field"></div>
        <app-datetime-range-input
            class="range-input"
            [min]="_min"
            [max]="_max"
            [rangePicker]="rangePicker1"
            (rangeSelected)="_handleRangeSelected(1, $event)"
        ></app-datetime-range-input>
        <app-datetime-range-picker #rangePicker1></app-datetime-range-picker>
    </div>
    <div class="range-item" *ngIf="_secondRangeEnabled">
        <div class="action-field">
            <dx-button
                class="btn"
                icon="close"
                (onClick)="removeRange()"
            ></dx-button>
        </div>
        <app-datetime-range-input
            class="range-input"
            [min]="_min"
            [max]="_max"
            [rangePicker]="rangePicker2"
            (rangeSelected)="_handleRangeSelected(2, $event)"
        ></app-datetime-range-input>
        <app-datetime-range-picker
            [target]="targetRange"
            #rangePicker2
        ></app-datetime-range-picker>
    </div>
    <div class="range-item actions" *ngIf="!_secondRangeEnabled">
        <dx-button
            class="btn"
            icon="plus"
            (onClick)="addRange()"
            [disabled]="_addRangeDisabled"
        ></dx-button>
    </div>
</div>
