<ng-container *ngIf="table$ | async as table">
    <dx-data-grid
        *ngIf="table"
        [dataSource]="table.items"
        [columnAutoWidth]="true"
        [rowAlternationEnabled]="false"
        [showBorders]="true"
        [paging]="{enabled: false}"
    >
        <!-- rowTemplate="rowTemplateName" -->
        <dxi-column dataField="year" [groupIndex]="0"></dxi-column>
        <dxi-column dataField="month" [groupIndex]="1"></dxi-column>
        <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

        <dxi-column
            dataField="itemName"
            caption="Item Name"
            dataType="string"
            [allowSorting]="false"
        ></dxi-column>
        <dxi-column
            dataField="quantity"
            caption="Quantity"
            dataType="string"
            [allowSorting]="false"
        ></dxi-column>
        <dxi-column
            *ngIf="table.comparison"
            dataField="quantity2"
            caption="Quantity 2"
            dataType="string"
            [allowSorting]="false"
            cssClass="cell-comparison"
        ></dxi-column>
        <dxi-column
            dataField="unit"
            caption="Unit"
            dataType="string"
            [allowSorting]="false"
        ></dxi-column>
        <dxi-column
            dataField="currency"
            caption="Currency"
            dataType="string"
            [allowSorting]="false"
        ></dxi-column>
        <dxi-column
            dataField="costPerUnit"
            caption="Cost Per Unit"
            dataType="number"
            [allowSorting]="false"
            format="#0.00"
        ></dxi-column>
        <dxi-column
            dataField="cost"
            caption="Cost"
            dataType="number"
            [allowSorting]="false"
            format="#0.00"
        ></dxi-column>
        <dxi-column
            *ngIf="table.comparison"
            dataField="cost2"
            caption="Cost 2"
            dataType="number"
            [allowSorting]="false"
            cssClass="cell-comparison"
            format="#0.00"
        ></dxi-column>

        <!-- <tr
            class="dx-row data-table-row"
            [ngClass]="{'for-comparison': item.data.isForComparison }"
            *dxTemplate="let item of 'rowTemplateName'"
        >
            <td></td>
            <td></td>
            <td>{{item.data.itemName}}</td>
            <td>{{item.data.quantity}}</td>
            <td>{{item.data.unit}}</td>
            <td>{{item.data.currency}}</td>
            <td style="text-align: right">
                {{item.data.costPerUnit | number: '1.2-2'}}
            </td>
            <td style="text-align: right">
                {{item.data.cost | number: '1.2-2'}}
            </td>
        </tr> -->
    </dx-data-grid>
</ng-container>
