<ng-container *ngIf="chart$ | async as chart">
    <dx-button
        class="back-button"
        text="Back"
        icon="chevronleft"
        [visible]="chart.level > 1"
        (onClick)="handleBackClick()"
    >
    </dx-button>

    <dx-button
        class="home-button"
        text="Home"
        icon="home"
        [visible]="chart.level > 2"
        (onClick)="handleHomeClick()"
    >
    </dx-button>

    <dx-chart
        id="power-factor-distribution-chart"
        class="pointer-on-bars"
        [dataSource]="chart.items"
        (onPointClick)="handlePointClick($event)"
        [title]="chart.title"
        [customizePoint]="customizePoint"
    >
        <dxo-common-series-settings argumentField="rangeName" type="bar">
        </dxo-common-series-settings>
        <ng-container *ngFor="let s of chart.series">
            <dxi-series
                [valueField]="s.valueField"
                [name]="s.name"
                [color]="s.color"
                [stack]="s.stack"
            >
            </dxi-series>
        </ng-container>
        <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
        </dxo-tooltip>
        <dxi-value-axis>
            <dxo-label [customizeText]="customizeLabel"></dxo-label>
        </dxi-value-axis>
        <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
            <dxo-margin [left]="50"></dxo-margin>
        </dxo-legend>
        <!-- <dxo-loading-indicator [enabled]="true"></dxo-loading-indicator> -->
    </dx-chart>
</ng-container>
