@import '../../../../styles/variables';

:host {
    padding-left: 200px;

    background-color: map-get($theme, primary);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 100%;

    .nav-item {
        padding: 15px;
        min-width: 150px;
        margin-right: 20px;

        text-align: center;

        &.active {
            background-color: map-get($theme, base1);
            border-radius: 20px 20px 0 0;
            box-shadow: 0 8px 0 0 map-get($theme, base1);
        }
    }
}
